body {
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	}
	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		background-color: #306EBF;
		color: #fff;
		padding: 0 20px;
		border-bottom: 1px solid #000;
<<<<<<< Updated upstream
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  		background-image: linear-gradient(to bottom, #306EBF, #1A488B); 
=======
<<<<<<< HEAD
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  		background-image: linear-gradient(to bottom, #306EBF, #1A488B);
=======
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  		background-image: linear-gradient(to bottom, #306EBF, #1A488B); 
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
  		z-index: 999;
	}
	nav {
		float: left;
		width: 20%;
		background-color: white;
		height: 100vh;
		position: fixed;
		border-right: .5px solid #999;
<<<<<<< Updated upstream
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
=======
<<<<<<< HEAD
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
=======
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
  		z-index: 999;
	}
	nav ul {
		list-style-type: none;
		padding: 0;
	}
	nav li a {
		display: block;
		color: #000;
		padding: 8px 16px;
		text-decoration: none;
	}
	nav li a:hover {
		background-color: #D9A036;
		color:#FFF;
		/*background-image: linear-gradient(to bottom, #306EBF, #1A488B);*/
		/*background-image: linear-gradient(to right, #D9A036, #306EBF);*/
		 background-image: linear-gradient(to bottom, #D9A036, #E3B654);
		border: 1px solid #DDD;
		font-size: 1.5em;
		text-decoration: none;
	}

	nav ul li a.selecionado {
		background-color: #D9A036;
		color: white;
	}

	nav ul li{
<<<<<<< Updated upstream
	
=======
<<<<<<< HEAD

=======
	
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	  border-bottom: 1px solid #CCC;
	}
	main {
		margin-top: 60px;
		margin-left: 20%;
		padding: 1px 16px;
		height: 1000px;
	}
	footer {
		background-color: #306EBF;
		color: #fff;
		padding: 10px;
		text-align: center;
		position: fixed;
		bottom: 0;
		width: 100%;
<<<<<<< Updated upstream
		 border-top: 1px solid #ccc;
  box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding-top: 20px;
	}
	
=======
<<<<<<< HEAD
		border-top: 1px solid #ccc;
        box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
        margin-top: 20px;
        padding-top: 20px;
        z-index:1000;
	}

=======
		 border-top: 1px solid #ccc;
  box-shadow: inset 0px 5px 5px -5px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding-top: 20px;
	}
	
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
	footer::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 50%);
    background-color: rgb(255,255,255,0.2);
}

footer::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}
<<<<<<< Updated upstream
	
=======
<<<<<<< HEAD

=======
	
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
	#logout {
		float: right;
		margin: 20px;
	}
	#logout a {
		background-color: #306EBF;
		color: #000000;
		padding: 10px 20px;
		text-decoration: none;
	}
	#logout a:hover {
		background-color: #fff;
		color: #333;
	}
	header img {
		max-width: 100%;
		max-height: 100%;
	}
	.botao-guardar {
	background-color: #FFFFFF; /* cor de fundo personalizada em azul */
	color: black; /* cor do texto do botão em branco */
	border: none; /* remove a borda padrão do botão */
	padding: 10px 20px; /* ajusta o preenchimento interno do botão */
	border-radius: 5px; /* adiciona um raio de borda arredondada ao botão */
	}
	.botao-guardar:hover {
	background-color: #306EBF; /* cor de fundo personalizada em azul quando o mouse estiver sobre o botão */
	color: white; /* cor do texto do botão em branco quando o mouse estiver sobre o botão */
	border: 2px solid #1e90ff; /* borda personalizada em azul quando o mouse estiver sobre o botão */
	}
	h2 {
	font-size: 50px; /* Tamanho da fonte em pixels */
	}
    .selected {
        background-color: #D9A036; /* Exemplo de cor selecionada */
        color: #ffffff; /* Exemplo de cor do texto */
        /* Outros estilos desejados */
    }
    .avaliacao-box {
        width: 300px;
        height: 150px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        text-decoration: none;
        color: #333;
      }

      .avaliacao-box:hover {
        background-color: #e0e0e0;
        cursor: pointer;
      }

fieldset {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
  box-shadow: 0px 0px 2px rgba(0,0,0,1);
  background-color: rgb(240,240,240);
}
legend {
  background-color: #306EBF;
  padding: 0.75rem;
  font-size: 1.3rem;
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
  color: #FFF;;
  transform: translateX(-1.1rem);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.8);

=======
>>>>>>> Stashed changes
  color: #FFF;;  
  transform: translateX(-1.1rem);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.8);
  
<<<<<<< Updated upstream
=======
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
}

legend:after {
  content: "";
  height: 0;
  width:0;
  background-color: transparent;
  border-top: 0.0rem solid transparent;
  border-right:  0.35rem solid black;
  border-bottom: 0.45rem solid transparent;
  border-left: 0.0rem solid transparent;
  position:absolute;
  left:-0.075rem;
  bottom: -0.45rem;
}

.shadowed-hr {
  border: none;
  height: 1px;
  background-color: #000;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

hr{
<<<<<<< Updated upstream
	
	/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);*/ 
=======
<<<<<<< HEAD

	/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);*/
=======
	
	/*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);*/ 
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
}


a:hover#btn-logout{
	background-color: #D9A036;
}

a:link#btn-logout{
	color: #D9A036;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

label{
<<<<<<< Updated upstream
	
=======
<<<<<<< HEAD

=======
	
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
	font-weight: bold;
}

.competicao-image-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
<<<<<<< Updated upstream
  background-color: #f0f0f0; 
=======
<<<<<<< HEAD
  background-color: #f0f0f0;
=======
  background-color: #f0f0f0; 
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
<<<<<<< Updated upstream
  color: #333; 
  font-weight: bold;
  opacity: 0; 
=======
<<<<<<< HEAD
  color: #333;
  font-weight: bold;
  opacity: 0;
=======
  color: #333; 
  font-weight: bold;
  opacity: 0; 
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
}

.competicao-image-container {
  position: relative;
  width: 300px;
  height: 200px;
}

.competicao-image-container image{
	width: 100%;
	height: 100%;
}

ul.list-homepage{
	list-style-type:disc;
<<<<<<< Updated upstream
	
=======
<<<<<<< HEAD

=======
	
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
}

ul.list-homepage li:hover {
              background-color:#EEE;
}

.carousel{
	border:1px solid #DDD;
}

#carouselHero .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
<<<<<<< Updated upstream
}
=======
<<<<<<< HEAD
}

input[required], select[required], textarea[required] {
  border: 2px solid #FFDAB9;
}
=======
}
>>>>>>> ef01067c5c1fea83e80d5183b7c2630b344bc5d1
>>>>>>> Stashed changes
